<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apollo-market-code</key>
	<string>ID</string>
	<key>native-ads</key>
	<dict>
		<key>price-range-for-sale</key>
		<array>
			<dict>
				<key>code</key>
				<string>0-50M</string>
				<key>min</key>
				<integer>0</integer>
				<key>max</key>
				<integer>50000000</integer>
			</dict>
			<dict>
				<key>code</key>
				<string>50M-100M</string>
				<key>min</key>
				<integer>50000000</integer>
				<key>max</key>
				<integer>100000000</integer>
			</dict>
			<dict>
				<key>code</key>
				<string>100M-200M</string>
				<key>min</key>
				<integer>100000000</integer>
				<key>max</key>
				<integer>200000000</integer>
			</dict>
			<dict>
				<key>code</key>
				<string>200M-500M</string>
				<key>min</key>
				<integer>200000000</integer>
				<key>max</key>
				<integer>500000000</integer>
			</dict>
			<dict>
				<key>code</key>
				<string>500M-1B</string>
				<key>min</key>
				<integer>500000000</integer>
				<key>max</key>
				<integer>1000000000</integer>
			</dict>
			<dict>
				<key>code</key>
				<string>1B-2B</string>
				<key>min</key>
				<integer>1000000000</integer>
				<key>max</key>
				<integer>2000000000</integer>
			</dict>
			<dict>
				<key>code</key>
				<string>2B-5B</string>
				<key>min</key>
				<integer>2000000000</integer>
				<key>max</key>
				<integer>5000000000</integer>
			</dict>
			<dict>
				<key>code</key>
				<string>5B-10B</string>
				<key>min</key>
				<integer>5000000000</integer>
				<key>max</key>
				<integer>10000000000</integer>
			</dict>
			<dict>
				<key>code</key>
				<string>10B-20B</string>
				<key>min</key>
				<integer>10000000000</integer>
				<key>max</key>
				<integer>20000000000</integer>
			</dict>
		</array>
		<key>price-range-for-rent</key>
		<array>
			<dict>
				<key>code</key>
				<string>0-50M</string>
				<key>min</key>
				<integer>0</integer>
				<key>max</key>
				<integer>50000000</integer>
			</dict>
			<dict>
				<key>code</key>
				<string>50M-100M</string>
				<key>min</key>
				<integer>50000000</integer>
				<key>max</key>
				<integer>100000000</integer>
			</dict>
			<dict>
				<key>code</key>
				<string>100M-200M</string>
				<key>min</key>
				<integer>100000000</integer>
				<key>max</key>
				<integer>200000000</integer>
			</dict>
			<dict>
				<key>code</key>
				<string>200M-500M</string>
				<key>min</key>
				<integer>200000000</integer>
				<key>max</key>
				<integer>500000000</integer>
			</dict>
			<dict>
				<key>code</key>
				<string>500M-1B</string>
				<key>min</key>
				<integer>500000000</integer>
				<key>max</key>
				<integer>1000000000</integer>
			</dict>
			<dict>
				<key>code</key>
				<string>1B-2B</string>
				<key>min</key>
				<integer>1000000000</integer>
				<key>max</key>
				<integer>2000000000</integer>
			</dict>
			<dict>
				<key>code</key>
				<string>2B-5B</string>
				<key>min</key>
				<integer>2000000000</integer>
				<key>max</key>
				<integer>5000000000</integer>
			</dict>
			<dict>
				<key>code</key>
				<string>5B-10B</string>
				<key>min</key>
				<integer>5000000000</integer>
				<key>max</key>
				<integer>10000000000</integer>
			</dict>
			<dict>
				<key>code</key>
				<string>10B-20B</string>
				<key>min</key>
				<integer>10000000000</integer>
				<key>max</key>
				<integer>20000000000</integer>
			</dict>
		</array>
		<key>size-range</key>
		<array>
			<dict>
				<key>code</key>
				<string>0-50</string>
				<key>min</key>
				<integer>0</integer>
				<key>max</key>
				<integer>50</integer>
			</dict>
			<dict>
				<key>code</key>
				<string>50-100</string>
				<key>min</key>
				<integer>50</integer>
				<key>max</key>
				<integer>100</integer>
			</dict>
			<dict>
				<key>code</key>
				<string>100-150</string>
				<key>min</key>
				<integer>100</integer>
				<key>max</key>
				<integer>150</integer>
			</dict>
			<dict>
				<key>code</key>
				<string>150-200</string>
				<key>min</key>
				<integer>140</integer>
				<key>max</key>
				<integer>200</integer>
			</dict>
			<dict>
				<key>code</key>
				<string>200-250</string>
				<key>min</key>
				<integer>200</integer>
				<key>max</key>
				<integer>250</integer>
			</dict>
			<dict>
				<key>code</key>
				<string>250-500</string>
				<key>min</key>
				<integer>250</integer>
				<key>max</key>
				<integer>500</integer>
			</dict>
			<dict>
				<key>code</key>
				<string>500-750</string>
				<key>min</key>
				<integer>500</integer>
				<key>max</key>
				<integer>750</integer>
			</dict>
			<dict>
				<key>code</key>
				<string>750-1000</string>
				<key>min</key>
				<integer>750</integer>
				<key>max</key>
				<integer>1000</integer>
			</dict>
			<dict>
				<key>code</key>
				<string>1000-2000</string>
				<key>min</key>
				<integer>1000</integer>
				<key>max</key>
				<integer>2000</integer>
			</dict>
			<dict>
				<key>code</key>
				<string>2000-3000</string>
				<key>min</key>
				<integer>2000</integer>
				<key>max</key>
				<integer>3000</integer>
			</dict>
			<dict>
				<key>code</key>
				<string>3000-4000</string>
				<key>min</key>
				<integer>3000</integer>
				<key>max</key>
				<integer>4000</integer>
			</dict>
			<dict>
				<key>code</key>
				<string>4000-5000</string>
				<key>min</key>
				<integer>4000</integer>
				<key>max</key>
				<integer>5000</integer>
			</dict>
			<dict>
				<key>code</key>
				<string>5000-6000</string>
				<key>min</key>
				<integer>5000</integer>
				<key>max</key>
				<integer>6000</integer>
			</dict>
			<dict>
				<key>code</key>
				<string>6000-7000</string>
				<key>min</key>
				<integer>6000</integer>
				<key>max</key>
				<integer>7000</integer>
			</dict>
		</array>
	</dict>
	<key>developer-profile-cards</key>
	<dict>
		<key>show-description</key>
		<false/>
		<key>show-subsidiary</key>
		<false/>
		<key>show-address</key>
		<false/>
		<key>show-holding</key>
		<false/>
		<key>show-contacts</key>
		<false/>
		<key>show-listings</key>
		<false/>
	</dict>
	<key>search-results</key>
	<dict>
		<key>should-show-sold-tag</key>
		<true/>
		<key>should-show-one-line-title</key>
		<false/>
		<key>should-show-new-tag</key>
		<false/>
		<key>should-show-saleable-area</key>
		<true/>
		<key>should-show-saleable-label</key>
		<true/>
		<key>should-show-gross-area</key>
		<true/>
		<key>should-show-gross-label</key>
		<true/>
		<key>should-show-car-park</key>
		<true/>
		<key>should-show-general-features</key>
		<true/>
		<key>should-show-verified-label</key>
		<false/>
		<key>should-show-dates-in-coredetails</key>
		<false/>
		<key>can-show-view-to-offer</key>
		<false/>
		<key>should-show-price-label</key>
		<true/>
		<key>preferred-price-label-for-sale</key>
		<string></string>
		<key>preferred-price-label-for-rent</key>
		<string>yearly</string>
		<key>should-show-price-per-size</key>
		<false/>
		<key>should-show-price-per-size-label</key>
		<false/>
		<key>should-show-unit-type</key>
		<false/>
		<key>should-hide-verified-saleable</key>
		<false/>
		<key>should-use-agency-branding-agency-name</key>
		<false/>
	</dict>
	<key>size-unit-code</key>
	<string>SQUARE_METERS</string>
	<key>ipp-domain</key>
	<string>www.rumah123.com</string>
	<key>target-code</key>
	<string>rumah123</string>
	<key>api-key-production</key>
	<string>MYvtERAYXJ6Dgo0paI3uaa6XCimcxt58azPKOFWC</string>
	<key>api-key-beta</key>
	<string>ZJz6TOwWw77uYefjZZ4wy4XeP2HzrhBP8jDlzx7T</string>
	<key>country-code</key>
	<string>ID</string>
	<key>currency-code</key>
	<string>IDR</string>
	<key>currency-symbol</key>
	<string>Rp</string>
	<key>formatter-locale</key>
	<string>id_ID</string>
	<key>region-format-decimal-character</key>
	<string>,</string>
	<key>mortgage-calculator</key>
	<dict>
		<key>should-show-disclaimer</key>
		<true/>
		<key>default-parameters</key>
		<dict>
			<key>down-payment-percentage</key>
			<integer>20</integer>
			<key>interest-rate</key>
			<integer>8</integer>
			<key>loan-term</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>links</key>
	<dict>
		<key>id</key>
		<dict>
			<key>about-us</key>
			<string>https://www.rumah123.com/tentang-kami-id.html</string>
			<key>terms-of-service</key>
			<string>https://www.rumah123.com/syarat-penggunaan/</string>
			<key>privacy-policy</key>
			<string>https://www.rumah123.com/kebijakan-privasi/</string>
			<key>forgot-password</key>
			<string></string>
			<key>sign-up</key>
			<string></string>
			<key>app-store</key>
			<string>644854546</string>
		</dict>
	</dict>
	<key>maximum-cached-recently-viewed-listing-count</key>
	<integer>100</integer>
	<key>maximum-recently-viewed-section-listing-count</key>
	<integer>5</integer>
	<key>minimum-password-length</key>
	<integer>8</integer>
	<key>color</key>
	<dict>
		<key>primary-color</key>
		<string>0x0081C6</string>
		<key>primary-highlight-color</key>
		<string>0x0074B2</string>
		<key>primary-disabled-button-color</key>
		<string>#66b3dc</string>
	</dict>
	<key>supported-localizations</key>
	<array>
		<string>id</string>
	</array>
	<key>adwords-conversion-tracking</key>
	<dict>
		<key>label</key>
		<string></string>
		<key>conversion-id</key>
		<string></string>
	</dict>
	<key>search-filter</key>
	<dict>
		<key>property-type</key>
		<dict>
			<key>show-searchbar</key>
			<false/>
			<key>list-options</key>
			<array>
				<dict>
					<key>title</key>
					<string>Rumah</string>
					<key>id</key>
					<string></string>
					<key>parent</key>
					<string></string>
					<key>listLevel</key>
					<integer>3</integer>
					<key>section</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>title</key>
					<string>Apartemen</string>
					<key>id</key>
					<string>ap</string>
					<key>parent</key>
					<string></string>
					<key>listLevel</key>
					<integer>3</integer>
					<key>section</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>title</key>
					<string>Ruko</string>
					<key>id</key>
					<string>sh</string>
					<key>parent</key>
					<string></string>
					<key>listLevel</key>
					<integer>3</integer>
					<key>section</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>title</key>
					<string>Tanah</string>
					<key>id</key>
					<string>la</string>
					<key>parent</key>
					<string></string>
					<key>listLevel</key>
					<integer>3</integer>
					<key>section</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>title</key>
					<string>Pabrik</string>
					<key>id</key>
					<string>fa</string>
					<key>parent</key>
					<string></string>
					<key>listLevel</key>
					<integer>3</integer>
					<key>section</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>title</key>
					<string>Kantor</string>
					<key>id</key>
					<string>of</string>
					<key>parent</key>
					<string></string>
					<key>listLevel</key>
					<integer>3</integer>
					<key>section</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>title</key>
					<string>Gudang</string>
					<key>id</key>
					<string>wa</string>
					<key>parent</key>
					<string></string>
					<key>listLevel</key>
					<integer>3</integer>
					<key>section</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>title</key>
					<string>Ruang-usaha</string>
					<key>id</key>
					<string>cs</string>
					<key>parent</key>
					<string></string>
					<key>listLevel</key>
					<integer>3</integer>
					<key>section</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<key>price</key>
		<dict>
			<key>sale-options</key>
			<array>
				<integer>50000000</integer>
				<integer>100000000</integer>
				<integer>200000000</integer>
				<integer>500000000</integer>
				<integer>1000000000</integer>
				<integer>2000000000</integer>
				<integer>5000000000</integer>
				<integer>10000000000</integer>
				<integer>20000000000</integer>
			</array>
			<key>rent-options</key>
			<array>
				<integer>50000000</integer>
				<integer>100000000</integer>
				<integer>200000000</integer>
				<integer>500000000</integer>
				<integer>1000000000</integer>
				<integer>2000000000</integer>
				<integer>5000000000</integer>
				<integer>10000000000</integer>
				<integer>20000000000</integer>
			</array>
		</dict>
		<key>installment-price</key>
		<dict>
			<key>options</key>
			<array>
				<integer>10000000</integer>
				<integer>20000000</integer>
				<integer>30000000</integer>
				<integer>40000000</integer>
				<integer>50000000</integer>
				<integer>100000000</integer>
				<integer>200000000</integer>
				<integer>500000000</integer>
				<integer>1000000000</integer>
				<integer>2000000000</integer>
				<integer>5000000000</integer>
				<integer>10000000000</integer>
				<integer>20000000000</integer>
			</array>
		</dict>
		<key>saleable-area</key>
		<dict>
			<key>options</key>
			<array>
				<integer>50</integer>
				<integer>100</integer>
				<integer>200</integer>
				<integer>500</integer>
				<integer>1000</integer>
			</array>
		</dict>
		<key>gross-area</key>
		<dict>
			<key>options</key>
			<array>
				<integer>50</integer>
				<integer>100</integer>
				<integer>200</integer>
				<integer>500</integer>
				<integer>1000</integer>
			</array>
		</dict>
		<key>bedroom</key>
		<dict>
			<key>options</key>
			<array>
				<dict>
					<key>title</key>
					<string>Any</string>
					<key>secondaryTitle</key>
					<string>Any</string>
					<key>min</key>
					<string></string>
					<key>max</key>
					<string></string>
				</dict>
				<dict>
					<key>title</key>
					<string>1+</string>
					<key>secondaryTitle</key>
					<string>1</string>
					<key>min</key>
					<string>1</string>
					<key>max</key>
					<string></string>
				</dict>
				<dict>
					<key>title</key>
					<string>2+</string>
					<key>secondaryTitle</key>
					<string>2</string>
					<key>min</key>
					<string>2</string>
					<key>max</key>
					<string></string>
				</dict>
				<dict>
					<key>title</key>
					<string>3+</string>
					<key>secondaryTitle</key>
					<string>3</string>
					<key>min</key>
					<string>3</string>
					<key>max</key>
					<string></string>
				</dict>
				<dict>
					<key>title</key>
					<string>4+</string>
					<key>secondaryTitle</key>
					<string>4</string>
					<key>min</key>
					<string>4</string>
					<key>max</key>
					<string></string>
				</dict>
				<dict>
					<key>title</key>
					<string>5+</string>
					<key>secondaryTitle</key>
					<string>5</string>
					<key>min</key>
					<string>5</string>
					<key>max</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>bathroom</key>
		<dict>
			<key>options</key>
			<array>
				<dict>
					<key>title</key>
					<string>Any</string>
				</dict>
				<dict>
					<key>title</key>
					<string>1+</string>
					<key>min</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>title</key>
					<string>2+</string>
					<key>min</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>title</key>
					<string>3+</string>
					<key>min</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>title</key>
					<string>4+</string>
					<key>min</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>title</key>
					<string>5+</string>
					<key>min</key>
					<integer>5</integer>
				</dict>
			</array>
		</dict>
		<key>carpark</key>
		<dict>
			<key>options</key>
			<array>
				<dict>
					<key>title</key>
					<string>Any</string>
				</dict>
				<dict>
					<key>title</key>
					<string>1+</string>
					<key>min</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>title</key>
					<string>2+</string>
					<key>min</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>title</key>
					<string>3+</string>
					<key>min</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>title</key>
					<string>4+</string>
					<key>min</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>title</key>
					<string>5+</string>
					<key>min</key>
					<integer>5</integer>
				</dict>
			</array>
		</dict>
		<key>filters-to-show-sale</key>
		<array>
			<string>type</string>
			<string>price</string>
			<string>saleable-area</string>
			<string>gross-area</string>
			<string>bedrooms</string>
			<string>bathrooms</string>
			<string>carpark</string>
			<string>is-transacted</string>
		</array>
		<key>filters-to-show-rent</key>
		<array>
			<string>type</string>
			<string>price</string>
			<string>saleable-area</string>
			<string>gross-area</string>
			<string>bedrooms</string>
			<string>bathrooms</string>
			<string>carpark</string>
			<string>is-transacted</string>
		</array>
	</dict>
	<key>directories</key>
	<dict>
		<key>agent</key>
		<dict>
			<key>should-show-feature-section</key>
			<true/>
		</dict>
		<key>developer</key>
		<dict>
			<key>should-show-feature-section</key>
			<false/>
		</dict>
	</dict>
	<key>listing-detail</key>
	<dict>
		<key>should-show-poi-feature</key>
		<false/>
		<key>allow-agency-phone-call</key>
		<true/>
		<key>should-show-developer</key>
		<false/>
		<key>should-show-lister-profile-picture</key>
		<true/>
		<key>can-open-lister-profile</key>
		<false/>
		<key>can-open-organisation-profile</key>
		<false/>
		<key>can-show-monthly-rental-price</key>
		<true/>
		<key>max-recent-custom-poi-count</key>
		<integer>10</integer>
	</dict>
	<key>sort-option</key>
	<array>
		<string>default</string>
		<string>posted-desc</string>
		<string>price-desc</string>
		<string>price-asc</string>
		<string>builtup-desc</string>
		<string>builtup-asc</string>
		<string>popular</string>
	</array>
	<key>app-data</key>
	<dict>
		<key>has-app-data-for-category</key>
		<false/>
		<key>directories</key>
		<array/>
	</dict>
	<key>locality</key>
	<dict>
		<key>has-locality-selector</key>
		<false/>
		<key>uses-legacy-mode-to-resolve-from-locality-title-path</key>
		<false/>
	</dict>
	<key>module</key>
	<dict>
		<key>common-leads</key>
		<false/>
		<key>facebook-login</key>
		<true/>
		<key>directories</key>
		<false/>
		<key>forgot-password</key>
		<string>inapp</string>
		<key>sign-up</key>
		<string>inapp</string>
		<key>advertisement-banner</key>
		<false/>
		<key>language-switch</key>
		<false/>
		<key>login-using-webcredentials</key>
		<true/>
		<key>3d-touch</key>
		<true/>
		<key>srp-image-carousel</key>
		<true/>
		<key>srp-ads</key>
		<true/>
		<key>pdp-sponsored-calculator</key>
		<true/>
		<key>notifications</key>
		<false/>
		<key>floor-plan</key>
		<false/>
		<key>youtube-video</key>
		<false/>
		<key>gallery-navigation</key>
		<false/>
		<key>feed-based-home</key>
		<false/>
		<key>clear-search-and-suggestions</key>
		<false/>
		<key>whatsapp</key>
		<true/>
		<key>user-management</key>
		<false/>
	</dict>
	<key>sponsored-calculator</key>
	<dict>
		<key>web</key>
		<dict>
			<key>default-language-tag</key>
			<string>id</string>
			<key>links</key>
			<dict>
				<key>Beta</key>
				<dict>
					<key>id</key>
					<string>https://stg.sg.rumah123.com/properti/default/{listingId}/calculator?platform=ios</string>
				</dict>
				<key>Prod</key>
				<dict>
					<key>id</key>
					<string>https://www.rumah123.com/properti/default/{listingId}/calculator?platform=ios</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>country-registered-name</key>
	<string>PT Web Marketing Indonesia</string>
	<key>suggestion</key>
	<dict>
		<key>should-show-directories-button</key>
		<false/>
	</dict>
	<key>enquiry-screen</key>
	<dict>
		<key>profile-height</key>
		<integer>75</integer>
		<key>show-sms</key>
		<true/>
	</dict>
	<key>home</key>
	<dict>
		<key>max-offline-recently-viewed-listings-count</key>
		<integer>10</integer>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
	</array>
	<key>force-update</key>
	<dict>
		<key>has-force-update</key>
		<false/>
		<key>links</key>
		<dict>
			<key>Prod</key>
			<dict>
				<key>endpoint</key>
				<string>https://s3-ap-southeast-1.amazonaws.com/origin-assets.api.iproperty.com/mobile/forceupdate/consumer/id-production.json</string>
			</dict>
			<key>Beta</key>
			<dict>
				<key>endpoint</key>
				<string>https://s3-ap-southeast-1.amazonaws.com/origin-assets.api.iproperty.com/mobile/forceupdate/consumer/id-staging.json</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
